@{
    ViewData["Title"] = "404 - Página Não Encontrada";
}

<div class="container text-center">
    <h1 class="display-4">Oops! Página não encontrada.</h1>
    <p class="lead">A página que você está procurando pode ter sido removida ou o endereço digitado está incorreto.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Voltar para a Página Inicial</a>
    <a href="javascript:history.back()" class="btn btn-secondary">Voltar à página anterior</a>
</div>