@{
    ViewData["Title"] = "500 - Erro Interno do Servidor";
}

<div class="container text-center">
    <h1 class="display-4">Algo deu errado do nosso lado.</h1>
    <p class="lead">Houve um erro interno. Tente novamente mais tarde ou entre em contato com o suporte.</p>
    <a href="javascript:history.back()" class="btn btn-primary">Tentar novamente</a>
    <a href="#" class="btn btn-secondary">Contatar o suporte</a>
</div>
