@model MySql.Data.Types.MySqlGeometry

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT6VVRMlElM3uC1bAm9KlmkoG6Kv88fMw&callback=initMap" async defer></script>

<div id="map" style="height: 40rem;"></div>

<script>
    function initMap() {
        let lat = "@Model.XCoordinate"
        let lng = "@Model.YCoordinate"

        let latFMT = parseFloat(lat.replace(/,/g, "."))
        let lngFMT = parseFloat(lng.replace(/,/g, "."))

        // 3. Defina as coordenadas do local desejado
        var localizacao = { lat: latFMT , lng: lngFMT }; // Exemplo: Campinas, SP

        // 4. Crie o mapa
        var mapa = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: localizacao
        });

        // 5. Adicione um marcador (opcional)
        var marcador = new google.maps.Marker({
            position: localizacao,
            map: mapa
        });
    }
</script>