@model List<CodeData_Connection.Models.Database.Entidade.Endereco>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT6VVRMlElM3uC1bAm9KlmkoG6Kv88fMw&callback=initMap" async defer></script>

<div id="map" style="height: 400px;"></div>

<script>
    function initMap() {
        const mapCenter = { lat: -15.7942, lng: -47.8822 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: mapCenter
        });

        const locations = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

        console.log(locations)

        locations.forEach((location) => {
            // 5. Adicione um marcador (opcional)
            var marcador = new google.maps.Marker({
                position: { lat: location., lng: location.Longitude },
                map: mapa,
                title: 'Campinas, SP'
            });
        });
</script>