@model CodeData_Connection.Models.Database.Entidade.Documento

@{
    ViewData["Title"] = "Documento";
}

<h1>DADOS DO DOCUMENTO</h1>

<p><strong>NÚMERO:</strong> @Model.Numero</p>
<p><strong>NOME:</strong> @Model.Nome</p>
<p><strong>TIPO:</strong> @Model.Tipo</p>
<p><strong>DATA CADASTRO:</strong> @Model.DataCadastro</p>