﻿@{
    ViewData["Title"] = "Configurações";
}

<a asp-controller="Usuarios" asp-action="Index">
    <img src="~/img/icon-usuarios.svg" alt="">
    <span class="nav-item">USUÁRIOS</span>
</a>
<span class="tooltip">USUÁRIOS</span>