@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* _content/CodeData Connection/Areas/Identity/Pages/Account/AccessDenied.cshtml.rz.scp.css */
.access-denied[b-1g7tbvn5px] {
    height: calc(100vh - 10vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.access-denied img[b-1g7tbvn5px]  img {
    width: 100px;
}

.access-denied h1[b-1g7tbvn5px] {
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    color: #dc3545;
}

/* _content/CodeData Connection/Views/Shared/_Layout.cshtml.rz.scp.css */
/* _content/CodeData Connection/Views/Shared/_Message.cshtml.rz.scp.css */
