* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.theme-light {
    --bg-sidebar: #ffffff;
    --bg-menu: #ffffff;
    --bg-content: #e3e3e3;
    --color-header-item: #555b6d;
    --color-noti-icon: #555b6d;
    --color-dropdown-item: #74788d;
    --color-dropdown-item-hover: #eff2f7
}

.theme-dark {
    --bg-sidebar: #1a1a1a; /* Cor do fundo da barra lateral */
    --bg-menu: #1a1a1a; /* Cor do fundo do menu */
    --bg-content: #2e2e2e; /* Cor do fundo do conteúdo */
    --color-header-item: #c0c0c0; /* Cor dos itens do cabeçalho */
    --color-noti-icon: #c0c0c0; /* Cor dos ícones de notificação */
    --color-dropdown-item: #a3a3a3; /* Cor dos itens do dropdown */
    --color-dropdown-item-hover: #3a3a3a; /* Cor do item do dropdown ao passar o mouse */
}

body {
    background-color: var(--bg-content);
}

a {
    text-decoration: none
}

.user {
    margin: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 1px solid black;
    padding: .6rem;
    border-radius: 5px;
    width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 64px;
    background-color: var(--bg-sidebar);
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 999
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

#btn-menu {
    margin: 1rem;
}

.sidebar #btn-menu {
    cursor: pointer;
    rotate: x 180deg;
}

.sidebar.active #btn-menu {
    position: relative;
    left: 100px;
    rotate: y 180deg;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    z-index: 100;
}

.sidebar .logo img {
    width: 40px;
    height: 70px;
    object-fit: none;
    object-position: 0 0;
}

.sidebar.active .logo img {
    width: 209px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 0
}

.sidebar ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.sidebar ul li a span {
    display: none;
}

.sidebar.active ul li a span {
    display: flex;
    padding-left: 1rem;
}

.sidebar ul li a:hover {
    transform: scale(1.05);
}

.sidebar ul li.selected {
    background-color: #246E37;
}

.sidebar ul li.selected a img {
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(189deg) brightness(109%) contrast(100%)
}

.sidebar ul li.selected a span {
    color: white
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 65px;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    top: 70px;
    left: 64px;
    width: calc(100% - 64px);
    padding: 1rem;
}

.container {
    width: 100%;
    height: 100%;
}

.dt-buttons {
    display: none
} 