* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-text)
}

.theme-light {
    --bg-menu: white;
    --bg-content: #e3e3e3;
    --color-text: black;
    --color-header-item: #555b6d;
    --color-dropdown-item: white;
    --color-dropdown-item-hover: #eff2f7;
    --nav-filter:;
    --nav-filter-selected: invert(100%) sepia(0%) saturate(7486%) hue-rotate(189deg) brightness(109%) contrast(100%)
}

.theme-dark {
    --bg-menu: #1a1a1a;
    --bg-content: #2e2e2e;
    --color-text: white;
    --color-header-item: #c0c0c0; /* Cor dos itens do cabeçalho */
    --color-dropdown-item: #1a1a1a; /* Cor dos itens do dropdown */
    --color-dropdown-item-hover: #3a3a3a; /* Cor do item do dropdown ao passar o mouse */
    --nav-filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(189deg) brightness(109%) contrast(100%);
    --nav-filter-selected:;
}

body {
    background-color: var(--bg-content);
}

a {
    text-decoration: none
}

.user {
    margin: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 1px solid black;
    padding: .6rem;
    border-radius: 5px;
    width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 64px;
    background-color: var(--bg-menu);
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 999
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    z-index: 100;
}

.sidebar .logo img {
    width: 40px;
    height: 70px;
    object-fit: none;
    object-position: 0 0;
}

.sidebar.active .logo img {
    width: 209px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 0
}

.sidebar ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.sidebar ul li a span {
    display: none;
}

.sidebar ul li a img {
    filter: var(--nav-filter)
}

.sidebar.active ul li a span {
    display: flex;
    padding-left: 1rem;
}

.sidebar ul li a:hover {
    transform: scale(1.05);
}

.sidebar ul li.selected {
    background-color: #246E37;
}

.sidebar ul li.selected a img {
    filter: var(--nav-filter-selected)
}

.sidebar ul li.selected a span {
    color: white
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 65px;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    top: 70px;
    left: 64px;
    width: calc(100% - 64px);
    padding: 1rem;
}

.container {
    width: 100%;
    height: 100%;
}

.dt-buttons {
    display: none
}

#loading-screen {
    position: fixed;
    top: 70px;
    left: 64px;
    width: calc(100% - 64px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db; /* Cor da animação */
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}