@{
    ViewData["Title"] = "Patrimônio";
}

<div id="loading-screen">
    <div class="loader"></div>
    <p style="color: white">Carregando...</p>
</div>

<div id="dadosPatrimonio"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/SistemaB/Patrimonio/ObterDadosPatrimonio',
                type: 'GET',
                success: function (data) {
                    $('#loading-screen').hide();
                    $('#dadosPatrimonio').html(data);
                },
                error: function () {
                    $('#loading-screen').html('<p>Erro ao carregar os dados.</p>');
                }
            });
        });
    </script>
}