@page
@model RegisterConfirmationModel
@{
    Layout = "/Views/Shared/_Message.cshtml";
    ViewData["Title"] = "Confirmar Cadastro";
}

<h1>@ViewData["Title"]</h1>
<p>Por favor, verifique seu email para confirmar sua conta.</p>
