@model CodeData_Connection.Controllers.DadosSolicitacaoViewModel

@await Html.PartialAsync("Tabela", Model.DadosSolicitacao)

<h1>LOCALIZAÇÃO DAS LOCAÇÕES</h1>
@await Html.PartialAsync("~/Views/Components/_GoogleMapsMultiple.cshtml", Model.ListaEnderecos)