@model CodeData_Connection.Controllers.LockScreenViewModel

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Sua sessão foi bloqueada por inatividade. Insira sua senha para continuar.</h2>

            <!-- Desbroquear a tela -->
            <div class="card mb-3">
                <div class="card-header"><h5>Bloqueio de Tela</h5></div>
                <div class="card-body">
                    <form asp-action="UnlockScreen" method="post">
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" type="password" placeholder="Digite sua senha" autocomplete="new-password"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

                        <button type="submit" class="btn btn-primary">Desbloquear</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
