@using CodeData_Connection.Models.Database.Entidade;

@model CodeData_Connection.Controllers.DadosPatrimonioViewModel
﻿
@{
    ViewData["Title"] = "Patrimônio";
}

@await Html.PartialAsync("Tabela", Model.DadosEquipamento)

<h1>LOCALIZAÇÃO DOS PATRIMÔNIOS</h1>
@await Html.PartialAsync("~/Views/Components/_GoogleMapsMultiple.cshtml", Model.ListaEnderecos)