@page
@model AccessDeniedModel

@{
    Layout = "_LayoutIdentity";
    ViewData["Title"] = "Acesso Negado";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col text-center">
            <img src="~/img/acesso-negado.png" alt="Acesso Negado" class="img-fluid mb-4">

            <h1 class="display-5 text-danger">Acesso Negado</h1>
            <h2>Você não tem permissão para acessar esta página.</h2>

            <hr class="my-4" />

            <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Voltar para a Página Inicial</a>

            <div class="mt-3">
                <p>Se você acha que isso é um erro, entre em contato com o administrador do sistema.</p>
            </div>
        </div>
    </div>
</div>