@page
@model ForgotPasswordModel

@{
    Layout = "_LayoutIdentity";
    ViewData["Title"] = "Esqueceu a Senha";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col text-center">
            <!-- Título Principal Centralizado -->
            <h1 class="display-5">@ViewData["Title"]</h1>
            <h2>Digite seu e-mail para redefinir sua senha</h2>

            <hr class="my-4" />

            <!-- Formulário de Esqueci a Senha -->
            <form method="post" class="mt-4">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                <!-- Campo de Email com Formatação Floating -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <!-- Botão de Reset de Senha -->
                <button type="submit" class="w-100 btn btn-lg btn-primary"><i class="fas fa-key"> </i>Redefinir Senha</button>
            </form>
        </div>
    </div>
</div>

<!-- Scripts de Validação -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}