@page
@model ForgotPasswordConfirmation

@{
    Layout = "_LayoutIdentity";
    ViewData["Title"] = "Confirmar redefinição de senha";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col text-center">
            <!-- Título Centralizado -->
            <h1 class="display-5">@ViewData["Title"]</h1>
            <h2>Verifique seu e-mail para redefinir sua senha.</h2>

            <hr class="my-4" />

            <!-- Botões para Ações Adicionais -->
            <a asp-page="./Login" class="btn btn-primary btn-lg me-2">Voltar ao Login</a>
            <a asp-page="./ForgotPassword" class="btn btn-secondary btn-lg"><i class="fas fa-envelope"></i> Reenviar Email de Confirmação</a>
        </div>
    </div>
</div>