@page
@model LockoutModel
@{
    Layout = "_LayoutIdentity";
    ViewData["Title"] = "Broqueado";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-5">@ViewData["Title"]</h1>
            <h2>Essa conta foi broqueada, caso tenha alguma dúvida entre em contato com o administrador do sistema.</h2>
        </div>
    </div>
</div>
