@page
@model ResendEmailConfirmationModel

@{
    Layout = "_LayoutIdentity";
    ViewData["Title"] = "Confirmar Cadastro";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col text-center">
            <!-- Título Principal Centralizado -->
            <h1 class="display-5">@ViewData["Title"]</h1>
            <h2>Digite seu Email</h2>

            <hr class="my-4" />

            <!-- Formulário com Feedback de Erro -->
            <form method="post" class="mt-4">
                <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>

                <!-- Campo de Email com Formatação Floating -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email address</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <!-- Botão de Reenvio -->
                <button type="submit" class="w-100 btn btn-lg btn-primary"><i class="fas fa-envelope"></i> Reenviar Email de Confirmação</button>
            </form>
        </div>
    </div>
</div>

<!-- Scripts para Validação -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}