@page
@model ResetPasswordConfirmationModel

@{
    Layout = "_LayoutIdentity";
    ViewData["Title"] = "Senha Redefinida com Sucesso";
}

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-5">@ViewData["Title"]</h1>
            <p>Sua senha foi redefinida. Por favor, <a asp-page="./Login">clique aqui para fazer login</a>.</p>
        </div>
    </div>
</div>
